<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Vue选项卡</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<style type="text/css">
    .red {
        background: red;
    }
</style>

<body>
    <div id="app">
        <!-- v-bind  针对data中的数据进行绑定 -->
        <!-- 函数中使用 event 对象需要在该函数中手动传入event -->
        <input type="button" v-for="item,i in tabData" v-bind:value="item.title" v-bind:class='{red:i===index}'
            v-on:click="tabHandle($event,i)">

        <!-- 代表每一个框 -->
        <div v-for="item,j in tabData" v-bind:style='{display:j===index?"block":"none"}'>
            <span v-for="option in item.list">
                
                <p>{{option.subTitle}}</p>
            </span>
        </div>


    </div>

</body>

</html>
<script type="text/javascript">
    //数据
    let tabData = [{
            title: "体育",
            list: [{
                    subTitle: '体育新闻'
                },
                {
                    subTitle: '体育新闻'
                },
                {
                    subTitle: '体育新闻'
                }
            ]
        },
        {
            title: "娱乐",
            list: [{
                    subTitle: '娱乐新闻'
                },
                {
                    subTitle: '娱乐新闻'
                },
                {
                    subTitle: '娱乐新闻'
                }
            ]
        },
        {
            title: "今日关注",
            list: [{
                    subTitle: '今日关注'
                },
                {
                    subTitle: '今日关注'
                },
                {
                    subTitle: '今日关注'
                }
            ]
        }
    ];
    console.log(tabData);
    new Vue({
        el: "#app",
        data: {
            tabData,
            index: 0
        },
        methods: {
            tabHandle: function (j, i) {
                //这里的j就是传入的 event对象
                console.log(j);
                //使用i来进行关联
                this.index = i;
            }

        }

    })
</script>